
<% if(true) { %>
  <div class='topnav'>
    <div class='leftnav'>
      <a class='create-story-btn' href="/">Home</a>
     
      <a class='all-stories-btn' href="/">Create Story</a>
    </div>
    <div class='rightnav'>
     <a class='login' href="/login">Login</a>
     <a class='register' href="/register">Register</a>
    </div>
  </div>
<% } %>