<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
  <link rel="stylesheet" href="/styles/header.css" type= 'text/css'>
  <style>
   
   /* hr{
    width:1px;
    height:100px;
    background: rgba(0, 0, 0, 0.26);
    border:none;
    margin-bottom: 3px;
   } */

  </style>
</head>
<body>
  <div class='topnav'>
    <div class='leftnav'>
     <a class='story' href="/new">Create new story</a>
     
     <a class='stories' href="/stories">All stories</a>
    </div>
    <div class='rightnav'>
     <a class='login' href="/login">Login</a>
     <a class='register' href="/register">Register</a>
    </div>
  </div>
</body>
</html>