

  <div class='topnav'>
    <div class='leftnav'>
     <a class='story' href="/new">Create new story</a>
     
     <a class='stories' href="/stories">All stories</a>
    </div>
    <div class='rightnav'>
     <a class='login' href="/login">Login</a>
     <a class='register' href="/register">Register</a>
    </div>
  </div>
