<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Story</title>
</head>
<body>
  <form>
    <label>Create a New Story</label>
    
    <div>
      <input type="text" name="title" placeholder="Story Title">   
    </div>

    <div>
      <input type="text" name="content" placeholder="Type your story...">
    </div>

    <div>
      <input type="url" name="photo_url" placeholder="Insert a photo">
    </div>

    <div>
      <button>Create Story</button>
      <a href='#'>Cancel</a>
    </div>

  </form>
</body>
</html>