<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>New Story - Story Creator</title>
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
  <%- include('head') %>
</head>
<body>
  <%- include('_header') %>
  <section class='pt-60 create-story'>
<<<<<<< HEAD
    <form method="POST" action="/new/story">
      <label>Create a New Story</label>
      
      <div>
        <input type="text" name="title" placeholder="Story Title">   
=======
    <form method="POST" action="/new/story" >
      <div class="publish-btn">
        <button type="submit">Publish</button>
>>>>>>> master
      </div>
      <div class="section-inner">
        <input class="new-title" type="text" name="title" placeholder="Title">   
      </div>

      <div class="section-inner">
        <input class="new-photo" type="url" name="photo_url" placeholder="Insert a photo url">
      </div>

      <div class="section-inner">
        <input class="new-story" type="textarea" name="content" placeholder="Tell your story...">
      </div>
  
  
      <div>
        <a href='#'>Cancel</a>
      </div>
  
    </form>
  </section>
  
</body>
</html>