<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
   
    <%- include('head') %>
    
  </head>

  <body>
    <%- include('_header') %>
    <section class='pt-60 '>
      <h1>This is the login page</h1>
      <form action="/api/login" method ='POST' class='login-form '>
          <label for="">Email:</label>
          <input type="email" name ="email">
          <label for="">password:</label>
          <input type="password" name ='password'>
        <input type="submit">
      </form>
    </section>
  </body>
</html>
