<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story</title>

  <!-- External CSS -->
  <!-- External Font -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">  
  <!-- App CSS -->
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="../scripts/app.js"></script>
</head>
<body>
  <header></header>

  <!-- story specific content here -->
  <main>
    <section>
      <!-- story section -->
      <div>
        <h3><%= story.title %></h3>
      </div>
      <div>
        <img src='<%= story.photo_url %>' />
      </div>
      <div class="story-content">
        <p><%= story.content %></p>
        
        <div class="appended-content">
          <!-- accepted contributions -->
        </div>
      </div>
    </section>
    <section>
      <p class="errormsg" id="emptyfield"><i class="fas fa-exclamation-triangle"></i> please enter text <i class="fas fa-exclamation-triangle"></i></i></p>
      <form id="new-post-form" action="/api/story/<%= story.storyurl_id %>/contributions" method="POST">
        <label for="post-text">What would you like to add to this story?</label>
        <textarea type="text" name="content" id="post-text"></textarea>
        <div>
          <button type="submit">Add My Addition</button>
        </div>
      </form>
    </section>
    <section id="posts-container">
      <!-- user generated contributions from database -->
    </section>
  </main>
</body>
</html>