section.story-container {
  color: black;
  width: 90%;
  padding: 50px 100px;
  margin: auto;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.complete-title {
  font-size: 3em;
  text-transform: capitalize;
  line-height: 100%;
}

.complete-img {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 430px;
}

.complete-info {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.complete-user {
  display: flex;
  flex-direction: column;
  color: #757575;
}

.complete-content {
  text-align: left;
  font-size: 1.5em;
  line-height: 125%;
  padding-bottom: 2em;
  word-wrap: break-word;
}
