body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.create-story {
  padding-top: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section .alert {
  color: red;
  border: 3px solid red;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  display: none;
}
