html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
  font-size: 13px;
}

body {
  background-color: white;
  line-height: 1.5em;
}

body h1 {
  color: rgba(0, 0, 0, 0.712);
}

.create-story {
  padding-top: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section .alert {
  color: red;
  border: 3px solid red;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

section form label {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

section form .input {
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  background-color: #f1ece0;
}

section form .submit {
  margin-top: 20px;
  border: 2px solid grey;
  border-radius: 30px;
  font-size: 23px;
  padding-right: 15px;
  padding-left: 15px;
  opacity: 50%;
  margin-left: auto;
  margin-right: auto;
}

section form .submit:hover {
  cursor: pointer;
  opacity: 100%;
}
