html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
  font-size: 13px;
}

body {
  background-color: white;
  line-height: 1.5em;
}

body h1 {
  color: black;
}

.create-story {
  padding-top: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
