div:empty {
  display: none;
}

.story-page {
  padding: 30px 100px;
  max-width: 800px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.story-content {
  padding: 20px 0;
  max-width: 800px;
}

.story-title {
  font-size: 2em;
  padding: 20px 0;
  font-weight: lighter;
}

.story-photo img {
  padding: 20px 0;
  max-width: 100%;
}

.contribution-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px rgba(204, 198, 204, 0.45);
  padding: 10px;
}

#post-input {
  width: 100%;
  border: none;
  margin: 20px 0;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #03A89C;
  padding: 5px;
}

#markcomplete {
  margin: 0 10px;
}

.add-post-btn button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #03A89C;
  padding: 5px;
}

.like-btn, .append-btn {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #000000;
  display: inline-block;
}

.contribution-container {
  border: 1px solid black;
}

@media only screen and (min-width: 1200px) {
  .story-page {
    max-width: 1000px;
  }
  .story-content {
    max-width: 1000px;
  }
}
