div:empty {
  display: none;
}

.story-page {
  padding: 30px 100px;
  max-width: 800px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.story-content {
  padding: 20px 0;
  max-width: 800px;
}

.story-title {
  font-size: 2em;
  padding: 20px 0;
  font-weight: lighter;
}

.story-photo {
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.8em;
}

.edit button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #03A89C;
  padding: 5px;
}

#markcomplete {
  margin: 0 10px;
}

.contribution-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 5px rgba(204, 198, 204, 0.45);
  padding: 10px;
  margin: 20px 0;
}

#new-post-form {
  display: flex;
  flex-direction: column;
}

#post-input {
  width: 100%;
  border: none;
  margin: 20px 0;
}

.add-post-btn {
  align-self: flex-end;
}

.add-post-btn button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #03A89C;
  padding: 5px;
}

#posts-container {
  margin-top: 20px;
}

div.like-btn {
  border: none;
  margin-right: 0;
}

.like-btn, .append-btn {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #F2F2F2;
  display: inline-block;
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
  font-size: 0.8em;
}

.contribution-content {
  padding: 10px;
}

.contribution-container {
  border: 1px solid #F2F2F2;
  padding: 10px;
  margin: 12px 0;
}

@media only screen and (min-width: 1200px) {
  .story-page {
    max-width: 1000px;
  }
  .story-content {
    max-width: 1000px;
  }
}
