section .alert {
  color: red;
  border: 3px solid red;
  width: 250px;
  text-align: center;
  display: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 300%;
  margin-bottom: 40px;
}

section form label {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

section form .input {
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  background: transparent;
  border-bottom: 0.8px solid #000000;
  width: 200px;
  text-align: center;
}

section form .input:focus {
  outline: none;
}

section form .submit {
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  font-size: 23px;
  padding: 8px 15px 8px 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  color: white;
  background-color: black;
}

section form .submit:hover {
  cursor: pointer;
}

h4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
