body{
  color:black;
  font-weight: 400;
  font-size:14px;
  line-height: 1.5em;
  
}
.wrapper{
  width:80%;
  border:1px solid black;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction: column;
  justify-content:center;
  padding-bottom:30px;
}
.complete-title{
  margin-left:17%;
  margin-right:83%;
  font-size:300%;
}
.complete-img{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:65%;
}
.complete-info{
  display:flex;
  height:50px;
  // border:1px solid black;
  margin-left:auto;
  margin-right:auto;
  flex-direction: row;
  justify-content: space-between;
}
.complete-user{
  display:flex;
  flex-direction: column;
}

.complete-content{
  width:65%;
  margin-left:auto;
  margin-right:auto;
}
