// See: https://sass-lang.com/
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lora', serif;
  font-size: 13px;
}
body {
  background-color:white;
  line-height: 1.5em;

  h1 {
    color: rgba(0, 0, 0, 0.712);
  }
}
// create story section:
.create-story{
  padding-top:80px;
}
//login section and register form:
.login-form{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}

section .alert{
  color:red;
  border: 3px solid red;
  width:250px;
  text-align: center;
  margin-bottom:10px;
  padding:5px;
  display:none;
}
h1{
  text-align:center;
  margin-top:100px;
}
section form label{
  margin-top: 15px;
  margin-left:auto;
  margin-right:auto;
}
section form .input{
  margin-left:auto;
  margin-right:auto;
  border-style: none;
  background-color: rgb(241, 236, 224);
}

section form .submit{
  margin-top:20px;
  border: 2px solid grey;
  border-radius:30px;
  font-size:23px;
  padding-right:15px;
  padding-left:15px;
  opacity:50%;
  margin-left:auto;
  margin-right:auto;
}
section form .submit:hover{
  
  cursor:pointer;
  opacity:100%;
}
