section{
  padding: 100px 100px;
  max-width: 800px;
  margin-left: 5%;
}

.main-story{
  padding-bottom:10px;
}

.stories{
  padding-top:10px;
}

// Main list section
#title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 1px solid #a3a3a3;
}

.story-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  margin: 30px 0;

  .text-container{
    align-items: center; 
    margin-right: 30px;

   a{
     text-decoration: none;
     :hover{
      color: black;
    }
   }

    h1{
      margin: 15px 0;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: capitalize;
    }
    h3{
      color: grey;
      font-weight: 400;
      margin-bottom: 20px;
    }
    h4{
      margin: 3px 0;
      font-weight: 400;
    }
    h5{
      color: grey
    }

  }
  
  .thumbnail-container{
    height: 160px;
    min-width: 160px;
    margin-left:auto;
    
    .image{
      height: 100%;
      width: 100%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
    }
  }

}


// Just the first story
.first-story-container{
  display: flex;
  flex-direction: column;

  .thumbnail-container{
    height: 350px;
    width: 100%;
    
    .image{
      width: 100%;
      height: 100%;
    }
  }

  .text-container{
    h1{
      font-size: 3em;
      margin: 25px 0;
    }
  }
}