div:empty {
  display: none;
}

.story-page {
  padding: 30px 100px;
  // max-width: 00px;
  margin: 0px calc(5% - 20px) 0px 5%;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  line-height: 1.5em
}
.story-content {
  padding: 20px 0;
  // max-width: 800px;
  word-wrap: break-word;
  p{
    margin-bottom:2em;
  }

  #appended-content div{
    margin-bottom:2em;
    font-size: 1em;
  }
}

.story-title-container{
  display:flex;
  align-items: center;
}

.story-title {
  font-size: 2em;
  padding: 20px 0;
  font-weight: lighter;
}

.story-photo {
  max-width:100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
}

// Top Buttons
.edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.7em;
  margin-left: auto;
}

.edit button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  border: 2px solid #03A89C;
  padding: 7px 9px;
  text-transform: uppercase;
  font-weight: 700;
}

#markcomplete {
  margin: 0 10px;
  text-transform: uppercase;
}

// Add Contribution Form
.contribution-form {
  display: flex;
  flex-direction: column;  
  box-shadow: 0px 0px 5px 2px rgba(204,198,204,0.45);
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
}

#new-post-form {
  display: flex;
  flex-direction: column;
}

#post-input {
  width: 100%;
  border: none;
  margin: 20px 0;
}
.add-post-btn {
  align-self: flex-end;
}

.add-post-btn button {
  background-color: #03A89C;
  color: #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #03A89C;
  padding: 15px 12px;
  font-size: 0.8em;
  font-weight: 700;
}

// User Generated Contributions
#posts-container {
  margin-top: 20px;
}

div.like-btn {
  border: none;
  margin-right: 0;
}

.like-btn, .append-btn{
  cursor: pointer;
  padding: 10px;
  border: 1px solid #F2F2F2;
  display: inline-block;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  color:#636363;
}

footer {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
  font-size: 0.8em;
}

.contribution-content {
  padding: 10px;
}
.contribution-container {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px;
  margin: 12px 0;
}

@media only screen and (min-width: 1200px) {
  // .story-page {
  //   max-width: 1000px;
  // }
  // .story-content {
  //   max-width: 1000px;
  // }
}

.liked-color i{
  color: #80bf1d;
}