section{
  padding: 100px ;
  max-width: 800px;
  margin-left: 8%;
}

#title{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 1px solid #a3a3a3;
}

.story-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  margin: 30px 0;

  .text-container{
    align-items: center; 
    margin-right: 30px;

   a{
     text-decoration: none;
    //  color: black;
     :hover{
      color: black;
    }
   }

    h1{
      margin: 15px 0;
      font-weight: 600;
    }
    h1{
      text-transform: capitalize;
    }
    h3{
      color: grey;
      font-weight: 400;
      margin-bottom: 20px;
    }
    h4{
      margin: 3px 0;
      font-weight: 400;
    }
    h5{
      color: grey
    }


  }
  
  .thumbnail-container{
    height: 160px;
    min-width: 160px;
    margin-left:auto;
    
    .image{
      height: 100%;
      width: 100%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
    }
  }
}